In [170]:
import numpy as np
import pandas as pd

# Series

In [9]:
sales = [1402, 548, 1122]

In [10]:
sales_arr = np.array(sales)

In [11]:
sales_arr

array([1402,  548, 1122])

In [12]:
# TOM INCOME
sales_arr[1]

548

In [25]:
sales_series = pd.Series(sales_arr)

In [26]:
sales_series

0    1402
1     548
2    1122
dtype: int64

In [27]:
# TOM INCOME
sales_series[1]

548

In [28]:
names = ["Ellie", "Tom", "Mike"]

In [32]:
sales_series = pd.Series(sales_arr, names)

In [33]:
sales_series

Ellie    1402
Tom       548
Mike     1122
dtype: int64

In [35]:
sales_series["Tom"]

548

In [36]:
sales = {"Ellie": 1402, "Tom": 548, "Mike": 1122}

In [37]:
pd.Series(sales)

Ellie    1402
Tom       548
Mike     1122
dtype: int64

## Series Operations

In [39]:
sales_series["Tom"]

548

In [40]:
sales_series * 0.7

Ellie    981.4
Tom      383.6
Mike     785.4
dtype: float64

In [41]:
april_sales = {"Ellie": 1402, "Tom": 548, "Mike": 1122}

In [43]:
may_sales = {"Ellie": 704, "Tom": 443, "Ted": 255}

In [44]:
april_Sales = pd.Series(april_sales)

In [45]:
may_Sales = pd.Series(may_sales)

In [46]:
april_Sales

Ellie    1402
Tom       548
Mike     1122
dtype: int64

In [47]:
may_Sales

Ellie    704
Tom      443
Ted      255
dtype: int64

In [48]:
april_Sales + may_Sales

Ellie    2106.0
Mike        NaN
Ted         NaN
Tom       991.0
dtype: float64

In [54]:
april_Sales.add(may_Sales, fill_value=0)

Ellie    2106.0
Mike     1122.0
Ted       255.0
Tom       991.0
dtype: float64

## Dataframes

In [50]:
sales = np.random.randint(200,2001, (4,3))

In [51]:
sales

array([[ 513,  383,  897],
       [1003, 1994, 1826],
       [1676,  769, 1669],
       [ 538, 1112, 1175]])

In [52]:
names = ["Ellie", "Mike", "Ted", "Tom"]

In [58]:
months = ["April", "May", "June"]

In [59]:
df = pd.DataFrame(sales, index=names, columns=months)

In [60]:
df

       April   May  June
Ellie    513   383   897
Mike    1003  1994  1826
Ted     1676   769  1669
Tom      538  1112  1175

In [61]:
ls

NumPy/        Pandas.ipynb

In [62]:
ls

NumPy/        Pandas.ipynb  data.csv

In [154]:
df = pd.read_csv('data.csv')

In [155]:
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F

In [93]:
df.head()

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M

In [156]:
df["year"]

0     2019
1     2021
2     2015
3     2013
4     2017
5     2021
6     2000
7     2020
8     2017
9     2012
10    2014
11    2011
12    2015
13    2010
14    2016
15    2021
16    2022
17    2015
18    2019
19    2004
20    2018
21    2020
22    2018
23    2021
24    2021
25    2021
26    2015
27    2014
28    2020
29    2017
30    2000
31    2018
32    2020
33    2021
34    2013
35    2021
36    2021
37    2015
38    2015
39    2017
40    2020
41    2002
42    2020
43    2020
44    2020
Name: year, dtype: int64

In [95]:
type(df["year"])

pandas.core.series.Series

## Conditional Selection

In [157]:
df['year'] > 2015

0      True
1      True
2     False
3     False
4      True
5      True
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17    False
18     True
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26    False
27    False
28     True
29     True
30    False
31     True
32     True
33     True
34    False
35     True
36     True
37    False
38    False
39     True
40     True
41    False
42     True
43     True
44     True
Name: year, dtype: bool

In [97]:
bool_series = df['year'] > 2020

In [98]:
df[bool_series]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M

In [99]:
df[df['year'] > 2020]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M

In [100]:
df[(df['year'] >= 2020) & (df['price'] >= 100000)]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F

In [101]:
df[(df['year'] >= 2020) & (df['sex'] == 'M')]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M

In [102]:
df[(df['day'] == 'Sun') | (df['day'] == 'Sat')]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M

In [103]:
df[df['day'].isin(['Mon', 'Tue', 'Wed', 'Thur', 'Fri'])]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F

## Pandas Methods

In [122]:
def price_after_tax(price):
    return round(price * 1.13, 0)

In [123]:
price_after_tax(df['price'][7])

88642.0

In [124]:
df['price_after_tax'] = df["price"].apply(price_after_tax)

In [125]:
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070.0
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614.0
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775.0
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848.0
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990.0
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660.0
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955.0
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642.0
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915.0
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136.0
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700.0
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400.0
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762.0
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411.0
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118.0
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540.0
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020.0
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042.0
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251.0
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526.0
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236.0
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825.0
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999.0
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642.0
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902.0
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760.0
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652.0
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887.0
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700.0
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636.0
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501.0
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787.0
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756.0
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717.0
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664.0
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586.0
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617.0
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015.0
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961.0
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717.0
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160.0

In [138]:
def profit_margin(price, finance):
    if finance == "no":
        if price < 10000:
            return "LOW"
        elif price >= 10000 and price < 25000:
            return "MED"
        else:
            return "HIGH"
    else:
        if price < 7500:
            return "LOW"
        elif price >= 7500 and price < 20000:
            return "MED"
        else:
            return "HIGH"

In [139]:
profit_margin(150000, "no")

'HIGH'

In [140]:
df["profit_margin"] = df[['price','finance']].apply(lambda df: profit_margin(df['price'],df['finance']),axis=1)

In [141]:
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070.0,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614.0,HIGH
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775.0,MED
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848.0,LOW
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990.0,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660.0,HIGH
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955.0,LOW
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642.0,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915.0,HIGH
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136.0,LOW
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700.0,MED
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400.0,LOW
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762.0,HIGH
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411.0,MED
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118.0,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540.0,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020.0,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042.0,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251.0,HIGH
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526.0,LOW
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236.0,MED
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825.0,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999.0,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642.0,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902.0,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760.0,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652.0,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887.0,HIGH
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700.0,MED
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636.0,LOW
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501.0,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787.0,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756.0,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717.0,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664.0,HIGH
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0,MED
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586.0,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617.0,HIGH
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015.0,LOW
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961.0,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717.0,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160.0,HIGH

In [142]:
df['profit_margin'] = np.vectorize(profit_margin)(df['price'], df['finance'])

In [143]:
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070.0,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614.0,HIGH
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775.0,MED
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848.0,LOW
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990.0,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660.0,HIGH
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955.0,LOW
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642.0,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915.0,HIGH
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136.0,LOW
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700.0,MED
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400.0,LOW
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762.0,HIGH
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411.0,MED
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118.0,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540.0,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020.0,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042.0,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251.0,HIGH
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526.0,LOW
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236.0,MED
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825.0,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999.0,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642.0,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902.0,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760.0,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652.0,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887.0,HIGH
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700.0,MED
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636.0,LOW
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501.0,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787.0,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756.0,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717.0,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664.0,HIGH
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0,MED
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586.0,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617.0,HIGH
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015.0,LOW
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961.0,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717.0,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160.0,HIGH

In [144]:
df.describe()

              year          price  social_security  price_after_tax
count    45.000000      45.000000     4.500000e+01        45.000000
mean   2016.222222   54373.377778     6.358065e+08     61441.888889
std       5.603931   50910.915441     3.096242e+08     57529.393065
min    2000.000000    2235.000000     7.006635e+07      2526.000000
25%    2015.000000   17434.000000     3.346424e+08     19700.000000
50%    2018.000000   43553.000000     5.795217e+08     49215.000000
75%    2020.000000   78422.000000     9.475778e+08     88617.000000
max    2022.000000  232000.000000     9.985735e+08    262160.000000

In [145]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
year,45.0,2.016222e+03,5.603931e+00,2000.0,2015.0,2018.0,2020.0,2022.0
price,45.0,5.437338e+04,5.091092e+04,2235.0,17434.0,43553.0,78422.0,232000.0
social_security,45.0,6.358065e+08,3.096242e+08,70066354.0,334642443.0,579521683.0,947577792.0,998573477.0
price_after_tax,45.0,6.144189e+04,5.752939e+04,2526.0,19700.0,49215.0,88617.0,262160.0

In [146]:
df.sort_values('price')

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526.0,LOW
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636.0,LOW
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955.0,LOW
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015.0,LOW
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400.0,LOW
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848.0,LOW
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136.0,LOW
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411.0,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0,MED
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0,MED
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700.0,MED
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700.0,MED
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775.0,MED
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236.0,MED
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990.0,HIGH
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118.0,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652.0,HIGH
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762.0,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999.0,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915.0,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717.0,HIGH
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070.0,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756.0,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717.0,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760.0,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020.0,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251.0,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042.0,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614.0,HIGH
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501.0,HIGH
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961.0,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617.0,HIGH
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642.0,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642.0,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902.0,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660.0,HIGH
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586.0,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887.0,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787.0,HIGH
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825.0,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540.0,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664.0,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160.0,HIGH

In [147]:
df.sort_values(['price', 'sex'])

,car,type,year,price,finance,day,dealer,customer,social_security,sex,price_after_tax,profit_margin
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M,2526.0,LOW
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M,2636.0,LOW
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M,3955.0,LOW
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F,4015.0,LOW
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M,8400.0,LOW
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F,10848.0,LOW
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F,11136.0,LOW
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M,12411.0,MED
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0,MED
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M,15180.0,MED
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F,19700.0,MED
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M,19700.0,MED
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M,19775.0,MED
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M,25236.0,MED
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M,25990.0,HIGH
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M,27118.0,HIGH
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F,28652.0,HIGH
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F,28762.0,HIGH
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M,30999.0,HIGH
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M,37915.0,HIGH
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F,40717.0,HIGH
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M,44070.0,HIGH
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0,HIGH
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M,49215.0,HIGH
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M,49756.0,HIGH
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F,54717.0,HIGH
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F,58760.0,HIGH
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F,61020.0,HIGH
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F,65251.0,HIGH
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M,66042.0,HIGH
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F,76614.0,HIGH
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F,86501.0,HIGH
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M,87961.0,HIGH
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F,88617.0,HIGH
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F,88642.0,HIGH
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M,88642.0,HIGH
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F,90902.0,HIGH
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F,92660.0,HIGH
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M,96586.0,HIGH
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M,117887.0,HIGH
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M,151787.0,HIGH
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M,158825.0,HIGH
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F,178540.0,HIGH
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M,209664.0,HIGH
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F,262160.0,HIGH

In [148]:
df['price'].max()

232000

In [149]:
df['price'].idxmax()

44

In [152]:
df.iloc[44]

car                Bentley Bentayga
type                            SUV
year                           2020
price                        232000
finance                          no
day                             Wed
dealer                         Mike
customer                  Gabrielle
social_security           885353455
sex                               F
price_after_tax            262160.0
profit_margin                  HIGH
Name: 44, dtype: object

In [158]:
df['sex'].value_counts()

M    26
F    19
Name: sex, dtype: int64

In [161]:
df["finance"] = df["finance"].replace(to_replace='no',value='N')

In [162]:
df["finance"] = df["finance"].replace(to_replace='yes',value='Y')

In [163]:
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,N,Sun,Mike,Stanley,555342396,M
1,Audi A6,sedan,2021,67800,Y,Mon,Sam,Brittany,887766234,F
2,Nissan Altima,sedan,2015,17500,N,Sun,Mike,Todd,998573477,M
3,Chevrolet Equinox,SUV,2013,9600,N,Wed,Turner,Jasime,342234563,F
4,Hyundai Accent,hatchback,2017,23000,Y,Thur,Maddy,Sam,570566354,M
5,Porsche Cayenne,coupe,2021,82000,Y,Fri,Mike,Morgan,968258639,F
6,Volkswagen Jetta,sedan,2000,3500,N,Tue,Turner,Aaron,557275923,M
7,Audi A6,sedan,2020,78444,N,Sat,Brittany,Shelby,223955366,F
8,Jeep Wrangler,SUV,2017,33553,Y,Fri,Mike,Sam,877425852,M
9,Volkswagen Jetta,sedan,2012,9855,N,Tue,Sam,Jessie,885354544,F
10,Hyundai Accent,hatchback,2014,17434,N,Mon,Maddy,Taylor,870566354,F
11,Hyundai Accent,hatchback,2011,7434,N,Wed,Maddy,Monte,870066354,M
12,Mercedes-Benz A-Class,hatchback,2015,25453,Y,Tue,Mike,Alyssa,579521683,F
13,Nissan Altima,sedan,2010,10983,N,Mon,Turner,Felix,994853335,M
14,Chevrolet Equinox,SUV,2016,23998,Y,Fri,Mike,Kyle,947577792,M
15,BMW M8,coupe,2021,158000,Y,Wed,Maddy,Nicole,338559922,F
16,Toyota 4Runner,SUV,2022,54000,N,Thur,Mike,Jan,462375343,F
17,Audi A6,sedan,2015,58444,Y,Sat,Brittany,Qatava,223855366,M
18,Jaguar XF,sedan,2019,57744,Y,Sun,Turner,Taylor,884352886,F
19,Volkswagen Jetta,sedan,2004,2235,N,Tue,Turner,Git,995358322,M
20,Honda Civic,sedan,2018,22333,N,Fri,Mike,Jon,334642443,M
21,BMW M8,coupe,2020,140553,N,Wed,Maddy,Sal,326234886,M
22,Ford Maverick,pickup,2018,27433,N,Mon,Sam,Murry,588845355,M
23,Jeep Wrangler,SUV,2021,43553,Y,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,N,Thur,Brittany,Qatava,223855366,M
25,Genesis GV80,SUV,2021,80444,Y,Mon,Mike,Selena,994447745,F
26,Porsche Cayenne,coupe,2015,52000,N,Thur,Turner,Emily,958258639,F
27,Volkswagen Jetta,sedan,2014,25356,N,Wed,Sam,Pam,995538822,F
28,Maserati Levante,SUV,2020,104325,Y,Mon,Mike,Cam,452685274,M
29,Hyundai Accent,hatchback,2017,17434,N,Thurs,Maddy,Bob,70066354,M
30,Honda Civic,sedan,2000,2333,N,Sat,Brittany,Allen,134642443,M
31,Chevrolet Camaro,coupe,2018,76550,Y,Wed,Turner,Sarah,552422222,F
32,Maserati Levante,SUV,2020,134325,Y,Sun,Mike,Todd,952685274,M
33,Mercedes-Benz A-Class,sedan,2021,44032,Y,Mon,Turner,Jon,996435345,M
34,Ford Maverick,pickup,2013,36033,Y,Sun,Turner,Bailey,508845355,F
35,Jeep Wrangler,SUV,2021,43553,Y,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,Y,Mon,Sam,Cam,452685274,M
37,Hyundai Accent,hatchback,2015,13434,Y,Thurs,Brittany,Don,277425852,M
38,Hyundai Accent,hatchback,2015,13434,Y,Thurs,Brittany,Don,277425852,M
39,Cadillac Escalade,sedan,2017,85474,N,Tue,Mike,Harris,885437455,M
40,Genesis GV80,SUV,2020,78422,Y,Mon,Sam,Rachel,995943645,F
41,Jeep Wrangler,SUV,2002,3553,N,Sun,Brittany,Porsche,277425858,F
42,Genesis GV80,SUV,2020,77842,Y,Sat,Mike,Edward,885352535,M
43,Cadillac Escalade,sedan,2020,48422,Y,Mon,Sam,Rachel,995943645,F
44,Bentley Bentayga,SUV,2020,232000,N,Wed,Mike,Gabrielle,885353455,F

In [164]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35     True
36    False
37    False
38     True
39    False
40    False
41    False
42    False
43    False
44    False
dtype: bool

In [165]:
df[df.duplicated()]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
35,Jeep Wrangler,SUV,2021,43553,Y,Fri,Mike,Don,277425852,M
38,Hyundai Accent,hatchback,2015,13434,Y,Thurs,Brittany,Don,277425852,M

In [166]:
df['customer'].unique()

array(['Stanley', 'Brittany', 'Todd', 'Jasime', 'Sam', 'Morgan', 'Aaron',
       'Shelby', 'Jessie', 'Taylor', 'Monte', 'Alyssa', 'Felix', 'Kyle',
       'Nicole', 'Jan', 'Qatava', 'Git', 'Jon', 'Sal', 'Murry', 'Don',
       'Selena', 'Emily', 'Pam', 'Cam', 'Bob', 'Allen', 'Sarah', 'Bailey',
       'Harris', 'Rachel', 'Porsche', 'Edward', 'Gabrielle'], dtype=object)

In [167]:
df['customer'].nunique()

35

In [168]:
df['price'].between(10000,20000)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29     True
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37     True
38     True
39    False
40    False
41    False
42    False
43    False
44    False
Name: price, dtype: bool

In [169]:
df[df['price'].between(10000,20000)]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
2,Nissan Altima,sedan,2015,17500,N,Sun,Mike,Todd,998573477,M
10,Hyundai Accent,hatchback,2014,17434,N,Mon,Maddy,Taylor,870566354,F
13,Nissan Altima,sedan,2010,10983,N,Mon,Turner,Felix,994853335,M
29,Hyundai Accent,hatchback,2017,17434,N,Thurs,Maddy,Bob,70066354,M
37,Hyundai Accent,hatchback,2015,13434,Y,Thurs,Brittany,Don,277425852,M
38,Hyundai Accent,hatchback,2015,13434,Y,Thurs,Brittany,Don,277425852,M

### Groupby